
.reset{clear:both;}

body
{
background-color:#6699cc;
}

.body{background:#6699cc ;
width:800px;
height:1020px;
margin:0px auto;}

.body_area{width:780px;
height:1000px;
position:relative;
top:9px;
left:10px;
background:#FFFFFF;
}

.header{width:780px;
height:410px;
border-bottom:7px solid #2e2d2e;
position:relative;
top:0px;
left:0px;}

.orange_box{width:232px;
height:341px;
float:left;
background-color:#ff6200;
position:relative;}

.yellow_box{width:233px;
height:72px;
background-color:#ffb640;
position:relative;
left:-232px;
top:272px;
float:left;
}

.main_img{background:url(barefoot2andaman.jpg) no-repeat;
width:548px;
height:411px;
position:relative;
float:left;}

.logo_img{background:url(logo.jpg);
width:85px;
height:67px;
position:relative;
float:right;}


.btn_area{width:200px;
height:272px;
position:relative;
top:0px;
left:25px;}

.btn_area  ul{list-style-image:url(square.png);
width:8px;
height:8px;
}

.btn_area  ul li{margin-top:40px;}


.btn_area  ul li a{color:#ffffff;
font-family:Lucida Sans;
font-size:18px;
text-decoration:none;}


.btn_area  ul li a:hover{color:#96c63f;
font-family:Lucida Sans;
font-size:18px;
text-decoration:none;}

.txt_area{width:752px;
height:342px;
position:relative;
top:42px;
left:16px;
}

.txt_left{width:237px;
height:342px;
position:relative;
top:0px;
left:0px;

border-right:2px solid #505050;
float:left;}

.txt_left_one{width:210px;
height:18px;
position:relative;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:18px;
color:#1393c0;
}

.txt_mid{width:258px;
height:342px;
position:relative;
top:0px;
left:231px;
border-right:2px solid #505050;
content:block;
}

.txt_mid_one
{width:203px;
height:18px;
position:relative;
top:-341px;
right:38px;
font-family:Lucida Sans;
font-size:18px;
color:#0099cc;
float:right;
}

#form2
{width:200px;
height:0px;
position:relative;
top:-320px;
left:10px;
float:left;
}

.txt_mid_two
{width:203px;
height:18px;
position:relative;
top:-255px;
right:38px;
font-family:Lucida Sans;
font-size:18px;
color:#0099cc;
float:right;
}

#form3
{width:200px;
height:0px;
position:relative;
top:-246px;
left:20px;
float:left;
}

.txt_mid_three
{width:203px;
height:18px;
position:relative;
top:-105px;
right:38px;
font-family:Lucida Sans;
font-size:18px;
color:#0099cc;
float:right;
}

.img_area
{width:250px;
height:40px;
position:relative;
top:-90px;
left:45px;
float:left;
}

.mid_img1
{
width:36px;
height:37px;
background-image:url(fb.png);
}

.mid_img2
{
width:36px;
height:37px;
background-image:url(tweet.png);
top:-35px;
left:-151px;
position:relative;
float:right;
}

.mid_img3
{
width:36px;
height:37px;
background-image:url(Rss.png);
top:-36px;
left:-50px;
position:relative;
float:right;
}



.txt_right{width:230px;
height:341px;
position:relative;
top:-394px;
left:240px;

border-right:0px;
float:left;}


.txt_right_one
{width:200px;
height:20px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:18px;
color:#1393c0;
}

.txt_right_two
{width:126px;
height:12px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida  Sans;
font-size:14px;
color:#4c74f6;
}

.txt_right_three
{width:197px;
height:38px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida  Sans;
font-size:12px;
color:#505050;
}

.txt_right_four
{width:126px;
height:17px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#4c74f6;
}

.txt_right_five
{width:197px;
height:40px;
position:relative;
float:left;
top:4px;
left:0px;
font-family:Lucida Sans;
font-size:12px;
color:#505050;
}

.txt_right_six
{width:126px;
height:12px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#4c74f6;
}

.txt_right_seven
{width:197px;
height:40px;
position:relative;
float:left;
top:4px;
left:0px;
font-family:Lucida Sans;
font-size:12px;
color:#505050;
}

#footer
{width:780px;
height:76px;
background-color:#ffffff;
position:relative;
top:-245px;
left:0px;
border-top:4px solid #505050;
float:left;}

#foot_nev
{
width:350px;
height:60px;
top:10px;
left:50px;
text-align:center;
font-family:Lucida Sans;
font-size:11px;
}


#foot_nev1
{
width:350px;
height:9px;
top:-71px;
right:-215px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

#foot_nev2
{
width:350px;
height:9px;
top:-90px;
right:-284px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

#foot_nev3
{
width:350px;
height:9px;
top:-110px;
right:-350px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

#foot_nev4
{
width:350px;
height:9px;
top:-130px;
right:-440px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

.lower_txt{width:107px;
height:28px;
position:relative;
top:0px;
right:0px;
border-right:0px;
align:center;}

.lower_txt_one{
width:86px;
height:9px;
position:relative;
top:-125px;
right:-325px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

.lower_txt_two{
width:107px;
height:10px;
position:relative;
top:-115px;
right:-322px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

























