
.reset{clear:both;}

body
{
background-color:#6699cc;
}

.body{background:#6699cc ;
width:800px;
height:1020px;
margin:0px auto;}

.body_area{width:780px;
height:1000px;
position:relative;
top:9px;
left:10px;
background:#FFFFFF;
}

.header{width:780px;
height:410px;
border-bottom:7px solid #2e2d2e;
position:relative;
top:0px;
left:0px;}

.orange_box{width:232px;
height:341px;
float:left;
background-color:#ff6200;
position:relative;}

.yellow_box{width:233px;
height:72px;
background-color:#ffb640;
position:relative;
left:-232px;
top:272px;
float:left;
}

.main_img{background:url(barefoot2andaman.jpg) no-repeat;
width:548px;
height:411px;
position:relative;
float:left;}

.logo_img{background:url(logo.jpg);
width:85px;
height:67px;
position:relative;
float:right;}


.btn_area{width:200px;
height:272px;
position:relative;
top:0px;
left:25px;}

.btn_area  ul{list-style-image:url(square.png);
width:8px;
height:8px;
}

.btn_area  ul li{margin-top:40px;}


.btn_area  ul li a{color:#ffffff;
font-family:Lucida Sans;
font-size:18px;
text-decoration:none;}


.btn_area  ul li a:hover{color:#96c63f;
font-family:Lucida Sans;
font-size:18px;
text-decoration:none;}

.txt_area{width:752px;
height:342px;
position:relative;
top:42px;
left:16px;
}

.txt_left{width:231px;
height:342px;
position:relative;
top:0px;
left:0px;

border-right:4px solid #505050;
float:left;}

.txt_left_one{width:210px;
height:18px;
position:relative;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:18px;
color:#1393c0;
}

.txt_left_two{width:183px;
height:101px;
position:relative;
top:26px;
left:12px;
font-family:Lucida Sans;
font-size:10px;
color:#505050;
}

.txt_left_three{width:138px;
height:16px;
position:relative;
top:72px;
left:0px;
font-family:Lucida Sans;
font-size:18px;
color:#1393c0;
}

.txt_left_four{width:127px;
height:15px;
position:relative;
top:83px;
left:9px;
font-family:Lucida Sans;
font-size:14px;
color:#96c63f;
}
.txt_mid{width:276px;
height:342px;
position:relative;
top:0px;
left:0px;
border-right:4px solid #505050;
float:left;}

.img_area{
width:224px;
height:96px;
position:relative;
top:22px;
left:17px;
}

.mid_img1{background:url(img1.png) no-repeat;
width:90px;
height:60px;
position:relative;
top:7px;
left:0px;
float:left;
}

.mid_txt_one{width:125px;
height:97px;
position:relative;
top:0px;
left:15px;
font-family:Lucida Sans;
font-size:10px;
color:#505050;
float:left;
}

.txt_left_five{width:123px;
height:58px;
position:relative;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#96c63f;
}

.mid_img2{background:url(top.png) no-repeat;
width:91px;
height:89px;
position:relative;
top:10px;
left:0px;
float:left;}

.img_area{
width:224px;
height:81px;
position:relative;
top:25px;
left:13px;
}

.mid_txt_two{width:122px;
height:110px;
position:relative;
top:20px;
left:18px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
float:left;
}

.txt_right{width:230px;
height:341px;
position:relative;
top:0px;
right:0px;
border-right:0px;
float:right;}


.txt_right_one{
width:120px;
height:20px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:18px;
color:#1393c0;
}

.txt_right_two{
width:126px;
height:12px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida  Sans;
font-size:14px;
color:#96c63f;
}

.txt_right_three{
width:197px;
height:38px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida  Sans;
font-size:10px;
color:#676767;
}

.txt_right_four{
width:126px;
height:17px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#96c63f;
}

.txt_right_five{
width:197px;
height:40px;
position:relative;
float:left;
top:4px;
left:0px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

.txt_right_six{
width:126px;
height:12px;
position:relative;
float:left;
top:0px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#96c63f;
}

.txt_right_seven{
width:197px;
height:40px;
position:relative;
float:left;
top:4px;
left:0px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

.txt_right_eight{
width:90px;
height:12px;
position:relative;
float:left;
top:2px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#96c63f;
}

.txt_right_nine{
width:197px;
height:40px;
position:relative;
float:left;
top:4px;
left:0px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

.txt_right_ten{
width:120px;
height:12px;
position:relative;
float:left;
top:2px;
left:0px;
font-family:Lucida Sans;
font-size:14px;
color:#96c63f;
}

.txt_right_eleven{
width:197px;
height:40px;
position:relative;
float:left;
top:4px;
left:0px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

#footer
{width:780px;
height:94px;
background-color:#ffffff;
position:relative;
top:140px;
left:0px;
border-top:4px solid #505050;
float:left;}

#foot_nev
{
width:350px;
height:60px;
top:10px;
left:50px;
text-align:center;
font-family:Lucida Sans;
font-size:11px;
}


#foot_nev1
{
width:350px;
height:9px;
top:-71px;
right:-215px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

#foot_nev2
{
width:350px;
height:9px;
top:-90px;
right:-284px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

#foot_nev3
{
width:350px;
height:9px;
top:-110px;
right:-350px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

#foot_nev4
{
width:350px;
height:9px;
top:-130px;
right:-440px;
position: relative;
text-align:left;
font-family:Lucida Sans;
font-size:11px;
}

.lower_txt{width:107px;
height:28px;
position:relative;
top:0px;
right:0px;
border-right:0px;
align:center;}

.lower_txt_one{
width:86px;
height:9px;
position:relative;
top:-125px;
right:-325px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}

.lower_txt_two{
width:107px;
height:10px;
position:relative;
top:-115px;
right:-322px;
font-family:Lucida Sans;
font-size:10px;
color:#676767;
}




















